.image {
    width: 400px;
    height: 200px;
    border: 1px solid black;
}
body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}
.index {
    place-self: center;
    grid-column: span 2;
}
a {
    color: white;
}
a:hover {
    color: gray;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
}
.ingredients {
    justify-self: center;
}
.main p {
    width: 50%;
    text-align: center;
}
h2 {
    text-align: center;
    border-bottom: 1px solid;
}
